<div class="col-md-6 grid-margin stretch-card" [ngStyle]="{'margin-left': '25%'}">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter Detail Facture</h4>
        <form class="forms-sample" [formGroup]="f" (ngSubmit)="ajouter(f.value)">
          <div class="form-group">
            <label for="exampleFormControlSelect2">Produit</label>
            <select class="form-control" id="exampleFormControlSelect2" formControlName="produit" >
              <option  *ngFor="let p of listP" [ngValue]="p" >{{p.libelle}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Quantité</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="quantité" formControlName="qte" value="dFacture.qte">
            <div *ngIf="qte?.invalid && qte?.touched" class="alert alert-danger" role="alert">
            <div *ngIf="qte?.errors?.['required']" >
                Champ obligatoire
            </div>
            <div *ngIf="qte?.errors?.['pattern']" > mettre un nombre valide et superieur a 0</div>
          </div>
        </div>


          <div class="form-group">
            <label for="exampleInputPassword1">Pourcentage Remise</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="pourcentage remise" formControlName="pourcentageRemise" value="dFacture.pourcentageRemise">
            <div *ngIf="pourcentageRemise?.invalid && pourcentageRemise?.touched" class="alert alert-danger" role="alert">
              <div *ngIf="pourcentageRemise?.errors?.['required']" >
                  Champ obligatoire
              </div>
              <div *ngIf="pourcentageRemise?.errors?.['pattern']" > mettre un nombre valide entre 0 et 100</div>
              <div *ngIf="pourcentageRemise?.errors?.['max']" > le nombre doit compris entre 0 et 100 </div>
          </div>
          </div>
          
          <button type="submit" class="btn btn-primary mr-2" [disabled]="f.invalid">Ajouter</button>
          <button class="btn btn-light">Annuler</button>
        </form>
      </div>
    </div>
  </div>
  