


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
   
  
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
  </head>
  
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <app-navbar></app-navbar>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
    
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <app-sidebar></app-sidebar>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Liste des factures</h4>
                    <button type="button" class="btn btn-primary btn-rounded btn-icon" [ngStyle]="{'margin-left': '90%'}" (click)="showForm()">
                      <i class="ti-plus"></i>
                    </button>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>
                              Id
                            </th>
                            <th>
                              Client
                            </th>
                            <th>
                              Montant Facture
                            </th>
                            <th>
                              Montant Remise
                            </th>
                            <th>
                              Date Facture
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let facture of list; let i=index" (click)="showDetailF(facture,i)" [ngStyle]="{backgroundColor: 
                            row==i && showListDf==true ? 'lightblue':'transparent'}">
                            <td >
                             {{facture.idFacture}}
                            </td>
                            <td>
                              {{facture.client.nom}} {{facture.client.prenom}}
                            </td>
                            <td>
                              {{facture.montantFacture}}
                            </td>
                            <td>
                              {{facture.montantRemise}}
                            </td>
                            <td>
                              {{facture.dateFacture}}
                            </td>
                            
                          </tr>    
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
  
              
              
            </div>
            <div *ngIf="showListDf==true">
            <app-detail-of-one-facture [idDF]="id" ></app-detail-of-one-facture>
          </div>

            <div class="col-12 grid-margin" *ngIf="show==true">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Ajouter Facture</h4>
                  <form #f="ngForm" class="form-sample">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Montant Remise</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="montantRemise" ngModel/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">montant Facture</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="montantFacture" ngModel />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Client</label>
                          <div class="col-sm-9">
                            <select class="form-control">
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">date Facture</label>
                          <div class="col-sm-9">
                            <input class="form-control" type="date" placeholder="dd/mm/yyyy" name="dateFacture" ngModel/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input class="add btn btn-primary todo-list-add-btn" type="submit" value="ajouter" (click)="ajouter(f.value)">
                  </form>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        
      </div>
    </div>
  
  
  
  </body>
  
  
  