


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
   
  
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
  </head>
  
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <app-navbar></app-navbar>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
    
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <app-sidebar></app-sidebar>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Liste Clients</h4>
                    <button type="button" class="btn btn-primary btn-rounded btn-icon" [ngStyle]="{'margin-left': '90%'}" (click)="showForm()">
                      <i class="ti-plus"></i>
                    </button>
                    <div class="table-responsive">
                      <table class="table table-striped">
                       <thead>
                          <tr>
                            <th>
                                idClient
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prenom
                            </th>
                            <th>
                              Username
                          </th>
                            <th>
                                DateNaissance
                            </th>
                          
                            <th>
                                Email
                            </th>
                            <th>
                                CategorieClient
                            </th>
                            <th>
                                Profession
                            </th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let client of list,let i=index">
                            <td >
                             {{client.idClient}}
                            </td>
                            <td>
                              {{client.nom}}
                            </td>
                            <td>
                              {{client.prenom}}
                            </td>
                            <td>
                              {{client.userName}}
                            </td>
                            <td>
                              {{client.dateNaissance}}
                            </td>
                            <td>
                              {{client.email}}
                            </td>
                            <td>
                                {{client.categorieClient}}
                              </td>
                              <td>
                                {{client.profession}}
                              </td>
                              <td>
                                <button type="button" class="btn btn-inverse-dark btn-icon"  (click)="showForm1(i)">
                                  <i class="ti-pencil-alt"></i>
                                </button>
                              </td>
                              <td>
                                <button type="button" class="btn btn-inverse-danger btn-icon" (click)="del(i)">
                                <i class="ti-trash"></i>
                              </button>
                              </td>
                            <td>
                              <a> <i class="icon-reorder"></i></a>
                            </td>
                          </tr>
                         
                           
                           
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
  
              
              
            </div>
            <div class="col-8 grid-margin" *ngIf="show==true">
              <app-add-client (notif)="afterRecieveData($event)"></app-add-client>
            </div>
            <div class="col-8 grid-margin" *ngIf="show1==true">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Modifier Client</h4>
                  <form #d="ngForm" class="form-sample">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Id</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="idClient" [(ngModel)]=clt.idClient #idClient="ngModel"  required/>
                            <div class="alert alert-danger"*ngIf="idClient.touched && idClient.invalid">
                              <div *ngIf="idClient.errors?.['required']">
                                  * idClient field is required !
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Nom</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="nom"  #nom="ngModel"  required [(ngModel)]=clt.nom/>
                            <div class="alert alert-danger"*ngIf="nom.touched && nom.invalid">
                              <div *ngIf="nom.errors?.['required']">
                                  * nom field is required !
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>

                    </div>
                   
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Prenom</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="prenom" #prenom="ngModel"  required [(ngModel)]=clt.prenom/>
                            <div class="alert alert-danger"*ngIf="prenom.touched && prenom.invalid">
                              <div *ngIf="prenom.errors?.['required']">
                                  * prenom field is required !
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Date de Naissance</label>
                          <div class="col-sm-9">
                            <input type="date" class="form-control" name="dateNaissance" #dateNaissance="ngModel"  required [(ngModel)]=clt.dateNaissance/>
                            <div class="alert alert-danger"*ngIf="dateNaissance.touched && dateNaissance.invalid">
                              <div *ngIf="dateNaissance.errors?.['required']">
                                  * dateNaissance field is required !
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Username</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="userName" [(ngModel)]=clt.userName #userName="ngModel"  required />
                            <div class="alert alert-danger"*ngIf="userName.touched && userName.invalid">
                              <div *ngIf="userName.errors?.['required']">
                                  * userName field is required !
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Email</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="email" [(ngModel)]=clt.email  #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                                <div *ngIf="email.errors?.['required']">
                                    * The email field is required !
                                </div>
                                <div *ngIf="email.errors?.['pattern']">
                                    * This email non valid ! form: nom@exemple.com
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Password</label>
                          <div class="col-sm-9">
                            <input type="password" class="form-control" name="password" [(ngModel)]=clt.password #password="ngModel" minlength="5" ngModel required/>
                            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                                <div *ngIf="password.errors?.['required']">
                                    * The password field is required !
                                </div>
                                <div *ngIf="password.errors?.['minlength']">
                                    * The password must contains at min 5 caractére
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Categorie</label>
                          <div class="col-sm-9">
                            <select class="form-control" name="categorieClient" id="categorieClient"  [(ngModel)]=clt.categorieClient>
                              <option value="Fidele"  >Fidele</option>
                              <option value="Ordinaire">Ordinaire</option>
                              <option value="Premuim">Premuim</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Profession</label>
                          <div class="col-sm-9">
                            <select class="form-control" name="profession" id="profession"  [(ngModel)]=clt.profession>
                              <option value="Docteur">Docteur</option>
                              <option value="Ingenieur">Ingenieur</option>
                              <option value="Etudiant">Etudiant</option>
                              <option value="Commercial">Commercial</option>
                              <option value="Cadre">Cadre</option>
                              <option value="Autre">Autre</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input class="add btn btn-primary todo-list-add-btn" type="submit" value="Modifier" (click)="modifier(d.value)">
                  
                  </form>
                </div>
              </div>
            </div>
          
          </div>
          
        </div>
      </div>
    </div>
  
  
  
  </body>
  
  
  